body {
  position: relative;
  width: 100%;
  height: 100%;
}

.box {
  top: 1000px;
  height: 20px;
  width: 20px;
  display: inline-block;
}

.box-hover {
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 2px;
  display: inline-block;
}

.app-body {
  position: relative;
  width: 100%;
  height: 100%;
}

.app-nav {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.navbar {
  margin-bottom: 0;
}

.create-family-show {
  top: 0;
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  transition: all .3s ease-in-out;
}

.create-family-hidden {
  top: -50%;
  display: none;
  opacity: 0;
  margin-left: 50px;
  margin-right: 50px;
  transition: all .3s ease-in-out;
}

.app-main {
  top: 40vh;
  width: 70%;
  position: absolute;
  left: 0;
  padding: 80px 0 20px 0;
  transition: width .3s ease-in-out;
}

.app-main-full {
  width: 100%;
  position: absolute;
  left: 0;
  padding: 80px 0 20px 0;
  transition: width .3s ease-in-out;
}

.app-sidebar {
  position: fixed;
  right: 0;
  width: 30%;
  height: 100%;
  padding: 80px 30px 30px 30px;
  background-color: #f8f8f8;
  border-left: 1px solid #e7e7e7;
  transition: right .3s ease-in-out;
}
.app-sidebar-hidden {
  position: fixed;
  right: -30%;
  width: 30%;
  height: 100%;
  padding: 80px 30px 30px 30px;
  background-color: #f8f8f8;
  border-left: 1px solid #e7e7e7;
  transition: right .3s ease-in-out;
}

.color-single h4 {
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.color-family-info {
  margin-top: 20px;
}

.tooltip-inner {
  padding: 3px 4px;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .6s ease-in;
}
.previewLink {
  text-align:center;
}

/*TEMPORARY PREVIEW CSS*/

#container {
  text-align: center;
  padding-top: 40px;
	/*padding-left: 7%;
	padding-right: 7%;*/
  overflow: hidden;
}

#center {
	padding: 10px 20px;
	width: 100%;
  background: #fff;
}

#footer {
	clear: both;
}

#footer-wrapper {
  clear: both;
	float: left;
	position: relative;
	width: 100%;
	/*padding-bottom: 10010px;
	margin-bottom: -10000px;*/
	background: #fff;
}

p {
	color: #555;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul a {
	color: darkgreen;
	text-decoration: none;
}

#header, #footer {
  clear: both;
	font-size: large;
	padding: 0.3em;
	background: #BCCE98;
}

#columnholder {
  display: flex;
  align-items: stretch;
  /*overflow: hidden;*/
}

#left {
  width: 20%;
  padding: 0px 20px;
}

#innermid {
  text-align: left;
  padding: 0px 20px;
  width: 65%;
}

#right {
  text-align: left;
  width: 35%;
  padding: 0px 20px;
}

#center {
	background: #BCCE98;
}

