body {
  position: relative;
  width: 100%;
  height: 100%;
}

.example-template {
  height: 600px;
  width: 600px;
  overflow-x: scroll;
}

.modal-content {
  width: 650px;
}

.app-body {
  position: relative;
  width: 100%;
  height: 100%;
}

.app-nav {
  position: relative;
  width: 100%;
}

.navbar {
  margin-bottom: 0;
}

.create-family-show {
/*  margin-top: 70px;*/
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  transition: margin-top .3s ease-in-out;
}

.create-family-hidden {
  margin-top: -500px;
/*  margin-bottom:100px;*/
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  transition: margin-top .3s ease-in-out;
}

.app-main {
  width: 70%;
  position: absolute;
  left: 0;
  padding: 80px 0 20px 0;
  transition: width .3s ease-in-out;
}

.app-main-full {
  width: 100%;
  position: absolute;
  left: 0;
  padding: 80px 0 20px 0;
  transition: width .3s ease-in-out;
}

.app-sidebar {
  position: fixed;
  right: 0;
  width: 30%;
  height: 100%;
  padding: 80px 30px 30px 30px;
  background-color: #f8f8f8;
  border-left: 1px solid #e7e7e7;
  transition: right .3s ease-in-out;
}
.app-sidebar-hidden {
  position: fixed;
  right: -30%;
  width: 30%;
  height: 100%;
  padding: 80px 30px 30px 30px;
  background-color: #f8f8f8;
  border-left: 1px solid #e7e7e7;
  transition: right .3s ease-in-out;
}

.color-single h4 {
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

/*.color-single:hover h4 {
  opacity: 1;
}*/


.color-family-info {
  margin-top: 20px;
}

.tooltip-inner {
  padding: 3px 4px;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .6s ease-in;
}

.game {
  margin-left: auto;
  margin-right: auto;
}

.game.row {
  margin-left: auto;
  margin-right: auto;
}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}